<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link href="../static/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Strava-api test by Reuben</h1>
        <h2>{{ greeting }}</h2>
    </div>
    <br>
    <div class="container">
        <form action="/authorization" method="post" id="connectBtn">
            <button type="submit">Connect to Strava</button>
        </form>
    </div>
</body>
</html>